In [1]:
# LOAD THE DATA FROM THE CSV FILE "UNCLEAN_DATA.csv" INTO THE DATA FRAME .

import pandas as pd
xyz = pd.read_csv("UNCLEAN_DATA.csv")
print ( xyz.to_string() )

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [2]:
import pandas as pd
xyz = pd.read_csv( "UNCLEAN_DATA.csv" , header=0 , sep="," ) 
print ( xyz.to_string() )

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [3]:
# head() RETURNS THE TOP N ROWS IN THE DATA FRAME .

import pandas as pd
xyz = pd.read_csv( "UNCLEAN_DATA.csv" , header=0 , sep="," ) 
print ( xyz.head() )

   Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0      30.0            80       120            240.0        10.0          7.0
1      45.0            85       120            250.0        10.0          7.0
2      45.0            90       130            260.0         8.0          7.0
3      60.0            95       130            270.0         8.0          7.0
4      60.0           100       140            280.0         0.0          7.0

In [4]:
# tail() RETURNS THE BOTTOM N ROWS IN THE DATA FRAME .

import pandas as pd
xyz = pd.read_csv( "UNCLEAN_DATA.csv" , header=0 , sep="," ) 
print ( xyz.tail() )

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [5]:
# dropna() REMOVES THE BLANK ROWS . 

import pandas as pd
xyz = pd.read_csv( "UNCLEAN_DATA.csv" , header=0 , sep="," ) 
xyz.dropna ( axis=0 , inplace=True )
print(xyz)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
12      45.0           125       150            330.0         8.0          8.0

In [6]:
''' 

DATA CAN BE SPLITED INTO 3 MAIN CATEGORIES : 

1. NUMERICAL : IT CONTAINS INTO DISCRETE VALUES LIKE WHOLE NUMBERS 
AND CONTINUOUS VALUES LIKE NUMBERS WITH DECIMAL NUMBERS ALSO .

2. CATEGORICAL : IT CONTAINS THE VALUES THAT CANNOT BE UP AGAINST EACH OTHER 
LIKE GROUPS OF COLOURS AND FRUITS .

3. ORDINAL : IT CONTAINS VALUES THAT ARE RELATED TO EACH OTHER 
LIKE SCHOOL GRADES WHERE A IS BETTER THAN B.

'''

# info() IS USED TO CHECK THE DATA TYPES OF ALL COLUMNS IN A DATAFRAME .

print ( xyz.info() )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     object
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(4), object(2)
memory usage: 560.0+ bytes
None

In [7]:
# astype() IS USED TO CONVERT FROM ONE DATA TYPE TO ANOTHER DATA TYPE .
# CONVERT THE COLUMNS "Average_Pulse" AND "Max_Pulse" INTO float64 .

xyz["Average_Pulse"] = xyz["Average_Pulse"].astype(float)
xyz["Max_Pulse"] = xyz["Max_Pulse"].astype(float)
print ( xyz.info() )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     float64
 2   Max_Pulse        10 non-null     float64
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(6)
memory usage: 560.0 bytes
None

In [8]:
print ( xyz.to_string() )

    Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0           80.0      120.0            240.0        10.0          7.0
1       45.0           85.0      120.0            250.0        10.0          7.0
2       45.0           90.0      130.0            260.0         8.0          7.0
3       60.0           95.0      130.0            270.0         8.0          7.0
4       60.0          100.0      140.0            280.0         0.0          7.0
6       60.0          105.0      140.0            290.0         7.0          8.0
7       60.0          110.0      145.0            300.0         7.0          8.0
9       45.0          115.0      145.0            310.0         8.0          8.0
10      60.0          120.0      150.0            320.0         0.0          8.0
12      45.0          125.0      150.0            330.0         8.0          8.0

In [9]:
# describe() IS USED TO SUMMARIZE DATA IN A DATAFRAME .

print ( xyz.describe() )

        Duration  Average_Pulse   Max_Pulse  Calorie_Burnage  Hours_Work  \
count  10.000000      10.000000   10.000000        10.000000   10.000000
mean   51.000000     102.500000  137.000000       285.000000    6.600000
std    10.488088      15.138252   11.352924        30.276504    3.627059
min    30.000000      80.000000  120.000000       240.000000    0.000000
25%    45.000000      91.250000  130.000000       262.500000    7.000000
50%    52.500000     102.500000  140.000000       285.000000    8.000000
75%    60.000000     113.750000  145.000000       307.500000    8.000000
max    60.000000     125.000000  150.000000       330.000000   10.000000

       Hours_Sleep
count    10.000000
mean      7.500000
std       0.527046
min       7.000000
25%       7.000000
50%       7.500000
75%       8.000000
max       8.000000